.qa-message-item{
	cursor: pointer;
}
.qa-message-item img {
	float: left;
	width: 100px;
	height: 100px;
	padding-right: 20px;
	border-radius: 100px;
}

.qa-message-item:hover{
	background: #eee;
	border: 1px solid #000;
}
.qa-message-content-link{
	color: #000;
	text-decoration: none;
}
.qa-message-content-link:hover{
	color: #000;
	text-decoration: none;
}

.pm-messanger-list-meta a{
}

.pm-messanger-list-meta {
	padding-right: 20px;
	font-size: 15px;
	color: #000;
}